@import "../../../App.scss";

.home-service {
  width: 100%;
  overflow: hidden;
  position: relative;
  &__inner {
    width: 100%;
    padding: 100px 0;
    position: relative;
  }
  &__top {
    margin-bottom: 40px;
    @include d-flex-between;
    h3 {
      @include section-title;
    }
    button {
      @include button-style;
      span {
        background: $primary-color-2;
      }
    }
  }
  &__main-list {
    margin: -20px;
    @include d-flex;
    flex-wrap: wrap;
    align-items: start;
  }
  &__main-item {
    width: 30%;
    margin: 20px;
    cursor: default;
    @include d-flex;
    padding: 44px 0;
    max-width: 424px;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s ease;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    span {
      width: 54px;
      height: 54px;
      margin-bottom: 24px;
      img {
        object-fit: contain;
        transition: all 0.2s ease;
        filter: brightness(1000%) contrast(1000%);
      }
    }
    h4 {
      margin-bottom: 20px;
      @include content-title;
    }
    p {
      padding-right: 80px;
      margin-bottom: 30px;
      @include content-text;
    }
    button {
      @include d-flex;
      @include content-text;
      text-transform: uppercase;
      span {
        margin: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 10px;
        @include d-flex-jc-center;
        transition: all 0.2s ease;
        background: $primary-color-3;
        border-radius: $border-radius-2;
      }
      &:hover {
        color: $primary-color-3;
        span {
          color: $white;
          margin-right: 15px;
        }
      }
    }
    &:hover {
      border-top-color: $primary-color-3;
      img {
        filter: brightness(102%) contrast(79%);
      }
    }
  }
  &__main-all-service-btn {
    @include button-style;
    padding: 14px 20px;
    display: none;
    width: 100%;
    span {
      background: $primary-color-2;
    }
  }
}
// MEDIA PART = = = = = = = = = = = = = =
@media screen and (max-width: 1250px) {
  .home-service {
    &__main-list {
      margin: -10px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__main-item {
      width: 30%;
      margin: 10px;
      padding: 36px 0;
      p {
        padding-right: 0px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home-service {
    &__inner {
      padding: 60px 0;
    }
    &__top {
      h3 {
        font-size: 36px;
      }
      button {
        padding: 10px 20px;
      }
    }
    &__main-item {
      width: 46%;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 567px) {
  .home-service {
    &__inner {
      padding: 60px 0;
    }
    &__top {
      margin-bottom: 40px;
      justify-content: center;
      h3 {
        font-size: 30px;
      }
      button {
        display: none;
      }
    }
    &__main-list {
      margin: 0px;
    }
    &__main-item {
      margin: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
    &__main-all-service-btn {
      display: block;
    }
  }
}
