/* ======== COLORS ======== */
$white: #fff;
$black: #000;
$primary-color-1: #00112e;
$primary-color-2: #1f4382;
$primary-color-3: #e53133;
$primary-color-4: #ededed;
$primary-color-5: #0f2a58;
$primary-color-6: #a80d0e;
$primary-color-7: #343434;
$primary-color-8: #00112e80;
$primary-color-9: #0d0d0de6;
$primary-color-10: #ffffff80;
$primary-color-11: #121212;
$primary-color-12: #c2c2c2;
$primary-color-13: rgba(255, 255, 255, 0.5);

/* ======== FONTS ======== */
$f-family-Montserrat: "Montserrat", sans-serif;

/* ======== BOX SHADOW ======== */
$box-shadow-btn: 0px 5px 30px rgba(224, 93, 0, 0.1);

/* ======== BORDER RADIUS ======== */
$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 8px;
$border-radius-4: 50%;
